.device-properties {
	padding-top: 10px;
}

.device-status-online {
	color: green;
}

.device-status-offline {
	color: red;
}

.device-status-na {
	color: #ccc;
}

.properties-table {
	width: 50%;
}

.editable-property {
	width: 50%;
	margin-bottom: 5px;
}

.action-cell {
	vertical-align: middle !important;
}