.no-gutter {
    padding-right:0;
    padding-left:0;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.main {
	padding-top: 15px;	
}

/** same height **/
.main-body {
    display: table;
}


.pager-status {
  padding: 6px 10px;
}

.pager-status-number {
	font-weight: bold;
}

.sidebar {
	float: none;
    display: table-cell;
    vertical-align: top;
}

.add-button {
	width: 90%;
}

.criteria {
	margin-top: 8px;
}

.criteria-list > li {
	padding-left: 3px;
}

.bookmarks > li {
	padding-bottom: 3px;
}

.content {
	float: none;
    display: table-cell;
    vertical-align: top;
}

.results-area {
	margin-top: 8px;
	height: 100%;
	
	border-top: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
}

.results-area > .panel-body{
	padding: 15px 0;

}

.messages {
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

.applied-critera {
	padding-bottom: 5px;
}

.listitem {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	cursor: pointer;
}

.listitem:hover {
	color: #555;
  	text-decoration: none;
  	background-color: #f5f5f5;
}

.listitem-selected {
	  background: #ffc;
}

.listitem-check {
	margin: 4px 5px 0 0 !important;
}

.listitem-status {
  	padding-right: 10px;
}
