<!-- TOOLBAR -->
<div class="btn-toolbar" role="toolbar">

  <!-- SELECTION -->
  <div class="btn-group">
      <button class="btn btn-default" type="button" ng-click="ctrl.toggleSelection()">
        <span class="glyphicon" 
        
        ng-class="{
        'glyphicon-unchecked' : ctrl.selection.isNone(), 
        'glyphicon-sound-stereo' : ctrl.selection.isPartial(),
        'glyphicon-check' : ctrl.selection.isAll()}"
        
        ></span>
      </button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Selection Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" ng-click="ctrl.selection.clear()">None</a></li>
        <li><a href="#" ng-click="ctrl.selection.selectAll()">All</a></li>
      </ul>
  </div>

  <!-- EDIT -->
  <div class="btn-group" ng-hide="ctrl.selection.isNone()">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Edit
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#" ng-click="ctrl.addAttribute()">Add attribute</a></li>
        <li><a href="#">Attributes bulk edit</a></li>
      </ul>
    </div>
  </div>
  
  <!-- REMOVE -->
  <button class="btn btn-default" ng-hide="ctrl.selection.isNone()">Remove</button>
  
  <!-- UPDATE -->
  <button class="btn btn-default" ng-hide="ctrl.selection.isNone()">Update</button>

  <!-- REFRESH -->
  <button class="btn btn-default" >
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
  </button>
  
  <!-- PAGER -->
  <div class="btn-group pull-right" role="group">

      <button class="btn btn-default" ng-disabled="!ctrl.search.controls.hasPrevPage" ng-click="ctrl.search.prevPage()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
      <button class="btn btn-default" ng-disabled="!ctrl.search.controls.hasNextPage" ng-click="ctrl.search.nextPage()">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
               
  </div>
  
  <!-- PAGER STATUS -->
  <div class="pull-right pager-status">
    <span class="pager-status-number">{{ctrl.search.metadata.start}} - {{ctrl.search.metadata.end}}</span> of <span class="pager-status-number">{{ctrl.search.metadata.total}}</span>
  </div>
</div>

<!-- RESULTS AREA -->
<div class="panel no-gutter results-area">
  <div class="panel-body">
  
    <!-- APPLIED FILTERS -->
    <ng-include src="'partials/filtersbar.html'"></ng-include>
    
    <!-- MESSAGES -->
    <div class="messages text-center" ng-if="ctrl.devices.length==0">
      No devices matched your search.
    </div>
    <div class="messages text-center" ng-if="ctrl.selection.isPageSelected()">
      All {{ctrl.devices.length}} devices on this page have been selected. <a href="#" ng-click="ctrl.selection.selectAll()">Select all devices that match this search</a>
    </div>
    
    
    <!-- RESULTS -->
    <ul class="list-unstyled">
    
      <li class="listitem" ng-repeat="device in ctrl.devices" ng-class="[{'listitem-selected': ctrl.selection.isSelected(device)}]"
        ng-click="ctrl.showDevice(device)">
        
        <input type="checkbox" class="listitem-check"
        ng-click="ctrl.selectDevice($event, device)" 
        ng-checked="ctrl.selection.isSelected(device)">
        
        <span>{{device.name}}</span>
        <span class="pull-right listitem-status" 
        ng-class="[
        {'device-status-online': device.status==='Online'},
        {'device-status-offline': device.status==='Offline'},
        {'device-status-na': device.status===null}
        ]"
        >{{device.status}}</span>
      </li>
    </ul>
    
  </div>
</div>


<!-- ADD ATTRIBUTE -->
<div class="modal fade" id="addAttributeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add attribute</h4>
      </div>
      <div class="modal-body">
         
     <form name="attributeForm">
         <div class="form-group" ng-class="[{'has-error': attributeForm.name.$invalid, 'has-success': attributeForm.name.$valid}]" >
            <label class="control-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required ngMinlength="1" ng-model="ctrl.nameField">
          </div>
        <div class="form-group" ng-class="[{'has-error': attributeForm.value.$invalid, 'has-success': attributeForm.name.$valid}]">
          <label class="control-label" for="value">Value</label>
          <input type="text" class="form-control" id="value" name="value" required ngMinlength="1" ng-model="ctrl.valueField">
        </div>
         <div class="checkbox">
            <label>
              <input type="checkbox"> Override if already present
            </label>
          </div>
      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.saveAttribute()"  ng-disabled="attributeForm.$invalid">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->