<!-- TOOLBAR -->
<div class="btn-toolbar" role="toolbar">
  
  <button class="btn btn-default" ng-click="ctrl.goBack()">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  </button>

  <button class="btn btn-default" ng-click="ctrl.goEdit()">Edit</button>
  <button class="btn btn-default">Update</button>
</div>

<!-- SINGLE DEVICE -->
<div class="panel no-gutter results-area">
  <div class="panel-body">
    <h3>{{ctrl.device.name}}</h3>
    
    <dl class="dl-horizontal device-properties">
      <dt>Id</dt>
      <dd>{{ctrl.device.id}}</dd>
      <dt>Name</dt>
      <dd>{{ctrl.device.name}}</dd>
      <dt>Status</dt>
      <dd ng-class="[
        {'device-status-online': ctrl.device.status==='Online'},
        {'device-status-offline': ctrl.device.status==='Offline'},
        {'device-status-na': ctrl.device.status===null}
        ]">{{ctrl.device.status}}</dd>
      <dt>Type</dt>
      <dd>{{ctrl.device.type}}</dd>
    <dt style="padding-top:5px">Properties</dt>
    <dd>
    <div class="row">
      <div class="col-xs-12 col-lg-8">
        <table class="table table-hover table-condensed properties-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="attribute in ctrl.device.attributes">
              <td class="col-xs-6">{{attribute.name}}</td>
              <td class="col-xs-6">{{attribute.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </dd>
      </dl>
  </div>
</div>
