<!-- RESULTS AREA -->
<div class="panel no-gutter results-area">
  <div class="panel-body">
  
    <!-- APPLIED CRITERIA -->
    <div class="applied-critera">
      <button type="button" class="btn btn-xs">
        Pisa
        <span class="glyphicon glyphicon-remove-circle"></span> 
      </button>
      <button type="button" class="btn btn-xs">
        Water meter
        <span class="glyphicon glyphicon-remove-circle"></span> 
      </button>
      <button type="button" class="btn btn-xs">
        Gas meter
        <span class="glyphicon glyphicon-remove-circle"></span> 
      </button>
    </div>
    
    <!-- MESSAGES -->
    <div class="messages text-center">
      All 10 devices on this page are selected. <a href="#">Select all devices that match this search</a>
    </div>
    
    <!-- RESULTS -->
    <ul class="list-unstyled">
    
      <li class="listitem" ng-repeat="device in ctrl.devices" ng-class="[{'listitem-selected': ctrl.isSelected(device)}]">
        <input type="checkbox" class="listitem-check"
        ng-click="ctrl.toggle(device)" 
        ng-checked="ctrl.isSelected(device)">
        <span>{{device.name}}</span>
        <span class="pull-right listitem-status" 
        ng-class="[
        {'device-status-online': device.status==='Online'},
        {'device-status-offline': device.status==='Offline'},
        {'device-status-na': device.status===null}
        ]"
        >{{device.status}}</span>
      </li>
    </ul>
    
  </div>
</div>